{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-2">
  <div class="d-flex flex-column flex-md-row align-items-start">
    <!-- Image on the left -->
    <div class="flex-shrink-0 mb-5 me-md-4 scale">
      <img src="{{ art.art_image.url }}" class="img-fluid" alt="{{ art.title }}">
    </div>
    
    <!-- Content on the right -->
    <div>
      <h2>{{ art.title }}</h2>
      <small class="fs-6 mb-1 d-block">Artist: {% if art.artist.first_name and art.artist.last_name  %}{{ art.artist.first_name }} {{ art.artist.last_name }} {% else %} {{ art.artist }} {% endif %}</small>
       {% if art.size == 0  %} <small class="fs-6 mb-4 d-block">Size: Small </small>
       {% elif art.size == 1 %} <small class="fs-6 mb-4 d-block">Size: Medium </small>
       {% else %} <small class="fs-6 mb-4 d-block">Size: Large </small>
       {% endif %}
      <p class="mb-2"><em>Published on: {{ art.created_on }}</em></p>
      {{ art.description | safe }}
    </div>
  </div>

  <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
   
  </div>
  <div>
    <hr>
  </div>

  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="fs-6 mb-1 d-block">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2">
          <p class="font-weight-bold text-black">
            <h6>{{ comment.artist }}</h6>
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock content %}

