{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row py-5 px-lg-5 px-sm-0">

        <!-- Artwork Entries Column -->
        
            
                {% for art in artwork_list %}
                <div class="column">
                    
                      <div class="img-item text-center">
                        <img src="{{ art.art_image.url}}" class="img-fluid" alt="{{ art.title }}">
                        <a href="{% url 'artwork_detail' art.slug %}" class="art-link">
                        <h5 class="mt-2 mb-0">{{ art.title }}</h6></a>
                        <small class="fs-6 mb-4 d-block">Artist: {{ art.artist }}</small>
                      </div>
                            
                        
                    
                </div>
             {% endfor %}

            
        
    </div>
    
</div>

<!-- index.html content ends here -->
{% endblock %}